<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #666666;">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active" >Galería</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/barras']" routerLinkActive="active">Barras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/donas']" routerLinkActive="active">Donas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lineas']" routerLinkActive="active">Lineas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/radar']" routerLinkActive="active">Radar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/circular']" routerLinkActive="active">Circular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/areaPolar']" routerLinkActive="active">Area Polar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dinamica']" routerLinkActive="active">Dinamica</a>
        </li>
      </ul>
    </div>
  </nav>
